body { font-family: "DejaVu Sans", "Helvetica", "Arial";
       color: #ffffff;
       background-color: #000000;
       font-size: 12pt;}
h1   { font-size:14pt; }

a:link    { text-decoration: none;
            color: #ffffff }
a:visited { text-decoration: none;
            color: #ffffff }
a:hover   { text-decoration: none;
            color: #aaaaaa }